* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;

}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Kanit';
    font-size: var(--fs-14);
    font-weight: bold;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding-left: 12px;
    padding-right: 12px;
}

:root {
    --primary-color: #c0aa83;
    --secondary-color: #242424;
    --white-color: #fff;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-24: 24px;
    --fs-60: 60px;
    --fw-400: 400;
    --fw-600: 600;
    --fw-500: 500;
    --fw-700: 700;
    --fw-900: 900;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.logo img {
    max-width: 100%;
}

/* header start  */
header {

    padding: 12px 0;
    position: absolute;
    width: 100%;
    z-index: 99;
}

header .menu ul li a {
    font-size: var(--fs-18);
    color: var(--white-color);
    margin-left: 15px;
    transition: 0.5s;
    font-weight: var(--fw-500);
}

header .menu ul li a i {
    font-size: var(--fs-14);
    transition: 0.5s;
}

header .menu ul li:nth-last-child(2) a {
    margin-left: 35px;
}

header .menu ul li:first-child a {
    color: var(--primary-color);
}

header .menu ul li a:hover {
    color: var(--primary-color);
}

header .menu ul li a:hover i {
    transform: rotate(90deg);
    color: var(--primary-color);
}

header .menu ul li:last-child a:hover i,
header .menu ul li:nth-last-child(2) a:hover i {
    transform: rotate(0deg);
}

header .menu ul li .drop-down {
    position: absolute;
    background-color: var(--white-color);
    width: 250px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .15);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    top: 130px;
}

header .menu ul li:hover .drop-down {
    opacity: 1;
    visibility: visible;
    top: 60px;
}

header .menu ul li .drop-down ul li:nth-last-child(2) a,
header .menu ul li .drop-down ul li a {
    margin-left: 0px;
}

header .menu ul li .drop-down ul li a {
    color: var(--secondary-color);
    font-size: var(--fs-16);
    font-weight: var(--fw-400);
    padding: 10px 30px;
    display: block;
}

header .menu ul li .drop-down ul li:first-child a {
    color: var(--primary-color);
}

header .menu ul li .drop-down ul li a:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* header end  */

/* banner start  */
.banner {
    background-image: url('../img/coffee-parallax-2.png');
    padding: 250px 0;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.banner::after {
    position: absolute;
    content: '';
    box-sizing: border-box;
    width: 100%;
    background-image: url('../img/coffee_cut_long.png');
    height: 54px;
    bottom: 0;
}

.banner .banner-content a {
    padding: 8px 36px;
    background-color: var(--primary-color);
    font-size: var(--fs-16);
    color: var(--white-color);
    font-weight: var(--fw-700);
    display: inline-block;
    transition: 0.5s;
    margin: 0 auto;
}

.banner .banner-content a:hover {
    background-color: var(--white-color);
    color: var(--secondary-color);
}

/* banner end  */
/* about start  */
.about {
    padding: 80px 0;
    background-image: url('../img/about-bg.png');
    height: 100%;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 15%;
}

.about .about-content h2 {
    font-size: var(--fs-60);
    color: var(--secondary-color);
    line-height: 0.8;
}

.about .about-content {
    padding-right: 50px;

}

.about .about-content span {
    font-size: var(--fs-24);
    color: var(--primary-color);
    font-weight: var(--fw-900);
}

.about .about-content p {
    font-size: var(--fs-24);
    color: #000;
    margin: 30px 0 60px;
    font-weight: var(--fw-400);
}

.container-fluid {
    padding: 0 167px;
}

.about .service .service-card {
    margin-bottom: 30px;
}

.about .service .service-card h5 {
    font-size: var(--fs-24);
    color: var(--secondary-color);
    margin: 15px 0 10px;
}

.about .service .service-card p {
    color: var(--secondary-color);
}

/* about end  */
/* products start  */
.products {
    padding: 80px 0;
    background-color: var(--secondary-color);
}

.title {
    text-align: center;
    position: relative;
    z-index: 1;
}

.title p {
    position: absolute;
    font-size: 200px;
    color: var(--white-color);
    font-weight: 800;
    opacity: 0.1;
    top: 0;
    line-height: 0.4;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.title span {
    font-size: var(--fs-24);
    color: var(--primary-color);
    font-weight: var(--fw-900);
}

.title h2 {
    font-size: var(--fs-60);
    color: var(--white-color);
    line-height: 0.8;
}

.products ul {
    margin: 50px 0;
    text-align: center;
}

.products ul li {
    margin: 0 25px;
}

.products ul li a {
    font-size: var(--fs-18);
    color: var(--white-color);
    font-weight: var(--fw-500);
    position: relative;
}

.products ul li:first-child a::after {
    position: absolute;
    content: '';
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
}

.products .product-card {
    padding: 25px 25px 25px 45px;
    background-color: var(--white-color);
    text-align: center;
}

.products .product-card .product-content a h3 {
    font-size: var(--fs-24);
    color: var(--secondary-color);
    margin-bottom: 14px;
}

.products .product-card .product-content p {
    color: var(--secondary-color);
    margin-bottom: 14px;
    padding: 0 25px;
}

.products .product-card .product-content .doller {
    font-size: var(--fs-24);
    color: var(--primary-color);
    font-weight: var(--fw-700);
}

.products .product-card .product-content .doller span {
    font-size: var(--fs-24);
    color: var(--primary-color);
    font-weight: var(--fw-400);
    margin-right: 10px;
}

.products .product-card .product-content button {
    border: 0;
    background-color: transparent;
}

.products .product-card .product-content button a {
    padding: 8px 30px;
    background-color: var(--primary-color);
    color: var(--white-color);
    display: inline-block;
    margin-top: 25px;
}

.products .product-card .product-content button a:hover {
    background-color: var(--secondary-color);
}

.products .main-button a {
    padding: 8px 30px;
    color: var(--primary-color);
    display: inline-block;
    margin-top: 25px;
    border: 2px solid var(--primary-color);
}

.products .main-button a:hover {
    background-color: var(--white-color);
    border: 2px solid var(--white-color);
    color: var(--secondary-color);
}

/* products end  */
/* sale  start */
.sale {
    margin-bottom: 50px;
    font-size: var(--fs-18);
}
.sale .sale-img {
    margin-top: 100px;
}
.sale h2 {
    font-size: var(--fs-60);
    font-weight: var(--fw-700);
    margin-top: 50px;
}

.sale p {
    font-size: var(--fs-18);
    font-weight: var(--fw-300);
    margin-top: 15px;
}

.sale h5 {
    margin-top: 50px;
    color: var(--primary-color);
    font-weight: var(--fw-700);
    font-size: 30px;
}

.sale .country a {
    padding: 15px 40px;
    font-weight: var(--fw-700);
    margin: 25px 0;
}

.sale .country a:hover {
    color: var(--primary-color);
    transition: 0.5s;
}

.sale .country i {
    color: var(--secondary-color);
}

.sale ul li {
    list-style: none;
}

.sale ul li a {
    margin: 8px 50px 0 0;
    color: var(--secondary-color);
    font-weight: var(--fw-700);
    padding-top: 10px;
}

.sale ul li a:hover {
    color: var(--primary-color);
}

.sale .sale-img a {
    padding-top: 50px;
}

/* sale  end */
/* dealer start */
.dealer {
    padding-top: 50px;
}

.dealer .coustomers {
    background-image: url('../img/coffee-cup-1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.dealer .coustomers h5 {
    font-size: 30px;
    font-weight: var(--fw-900);
    color: var(--secondary-color);
}

.dealer .coustomers h2 {
    font-size: 120px;
    font-weight: var(--fw-900);
    color: var(--primary-color);
}

.dealer .coustomers h4 {
    font-size: var(--fs-60);
    color: var(--secondary-color);
    line-height: 1;
    font-weight: var(--fw-900);
}

.dealer .dealer-card h3 {
    font-size: var(--fs-60);
    font-weight: var(--fw-600);
    color: var(--secondary-color);
}

.dealer .dealer-card p {
    font-size: var(--fs-16);
    padding: 15px 0 15px 0;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.dealer a {
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 8px 36px;
    font-size: var(--fs-18);
    font-weight: var(--fw-500);
    text-decoration: none;
}

.dealer .button a {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 8px 36px;
    font-size: var(--fs-18);
    font-weight: var(--fw-500);
    text-decoration: none;
    margin-left: 20px;
}

.dealer a:hover {
    background-color: var(--white-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    text-decoration: none;
}

.dealer .button a:hover {
    background-color: var(--white-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    text-decoration: none;
}

/* dealer end */

/* Testimonials start */
.text-align {
    text-align: center;
}

.Testimonials {
    padding: 80px 0;
    background-image: url('../img/coffee_parallax.jpg');
    margin-top: 80px;
}

.Testimonials .title h5 {
    font-size: var(--fs-24);
    font-weight: var(--fw-600);
    color: var(--primary-color);
}

.Testimonials .title h2 {
    font-size: var(--fs-60);
    font-weight: var(--fw-900);
    color: var(--white-color);
    padding-bottom: 50px;
}

.Testimonials .Testimonials-card {
    border: 8px solid var(--primary-color);
    padding: 15px 45px;
}

.Testimonials .Testimonials-card h4 {
    font-size: var(--fs-18);
    font-weight: var(--fw-600);
    color: var(--white-color);

}

.Testimonials .Testimonials-card span {
    font-size: var(--fs-14);
    font-weight: var(--fw-600);
    color: var(--white-color);

}

.Testimonials .Testimonials-card p {
    font-size: var(--fs-24);
    font-weight: var(--fw-600);
    color: var(--white-color);
    padding-top: 30px;
}

.Testimonials .Testimonials-card i {
    font-size: var(--fs-60);
    color: var(--white-color);
    padding-top: 30px;
}

.Testimonials i {
    font-size: var(--fs-24);
}

.Testimonials .icon i {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Testimonials end */
/* logo start */
.logos {
    padding: 35px 15px 0;
    margin-top: 40px;
}

/* logo end */
/* discount start */
.discount {
    margin: 25px 0;
    height: 100%;
    padding-top: 50px;
}

.discount bg {
    background-size: 50%;
}

.discount .discount-card {
    text-align: center;
    background-image: url('../img/discount-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: bottom center;
}

.discount .discount-card span {
    font-size: var(--fs-24);
    font-weight: var(--fw-500);
    color: var(--primary-color);
    padding-bottom: 50px;
}

.discount .discount-card h3 {
    font-size: var(--fs-60);
    font-weight: var(--fw-900);
    color: var(--secondary-color-color);
    padding-bottom: 50px;
}

.discount .discount-card p {
    font-size: var(--fs-24);
    font-weight: var(--fw-400);
    color: var(--secondary-color);
    padding-top: 30px;
}

.discount .discount-card .button {
    padding-top: 30px;
}

.discount .discount-card .button a {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 8px 36px;
    margin-top: 30px;
    font-size: var(--fs-18);
    font-weight: var(--fw-500);
    text-decoration: none;
}

.discount .discount-card .button a:hover {
    background-color: var(--white-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    text-decoration: none;
}

/* discount end */
/* blog start */
.blog {
    margin: 64px 0 0;
    padding: 35px 0;
}

.blog .title h5 {
    font-size: var(--fs-24);
    font-weight: var(--fw-600);
    color: var(--primary-color);
    text-align: center;
}

.blog .title h2 {
    font-size: var(--fs-60);
    font-weight: var(--fw-900);
    color: var(--secondary-color);
    text-align: center;
}
.blog .title p {
    position: absolute;
    font-size: 200px;
    color: var(--secondary-color);
    font-weight: 800;
    opacity: 0.1;
    top: 0;
    line-height: 0.4;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.blog .blog-card a h3 {
    font-size: 36px;
    color: var(--primary-color);
    padding-top: 15px;
    font-weight: var(--fw-900);
    margin: 0 0 10px;
}

.blog .blog-card a:hover h3 {
    color: var(--secondary-color);
}

.blog .blog-card a {
    text-decoration: none;
}

.blog .blog-card p {
    font-size: 18px;
    color: var(--secondary-color);
    padding-bottom: 15px;
    font-weight: var(--fw-400);
}

.blog-img img {
    margin-top: 100px;
    height: 275px;
    transition: 0.5s;
}

.blog-img img {
    overflow: hidden;
}

.blog-img img:hover {
    transform: scale(1.2);
}

.blog .button {
    padding-top: 30px;
}

.blog .button a {
    border: 2px solid var(--primary-color);
    padding: 8px 36px;
    font-size: var(--fs-18);
    font-weight: var(--fw-500);
    text-decoration: none;
    background-color: var(--white-color);
    color: var(--primary-color);
}

.blog .button a:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: 0;
    transition: 0.5s;
}

.blog .info {
    background-color: #f6f6f6;
    font-size: 16px;
    font-weight: var(--fw-300);
    width: 100%;
    margin-top: 50px;
    padding: 15px 0;
}

.blog .info h4 {
    color: var(--primary-color);
    font-size: 48px;
    padding-right: 10px;
    transition: .5s;
}

.blog .info a {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
}

.blog .info:hover h4 {
    color: var(--secondary-color);
}

.blog .info .view-comment {
    font-size: var(--fs-14);
}

.blog .info .date,
.blog .info .view-comment {
    margin: 0 auto;
    line-height: 1;
}

/* blog end */
/* footer start */
.subscribe {
    background-color: var(--primary-color);
    width: 80%;
    font-size: 36px;
    font-weight: var(--fw-900);
    margin: 0 auto;
    transform: translateY(50%);
    padding: 50px 15px 50px 120px;
}

.subscribe .subscribe-content h3 {
    color: white;
    line-height: 1;
    font-size: 36px;
    padding: 0 0 15px;
}

.subscribe .subscribe-content h4 {
    color: var(--secondary-color);
    font-size: 36px;
}
.subscribe .subscribe-form input {
    padding: 15px 26px 16px;
    flex-grow: 2;
}
.subscribe .subscribe-form button {
    padding: 17px 26px 16px;
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    font-weight: var(--fw-700);
    color: var(--white);
    transition: 0.2s;
}
.subscribe .subscribe-form button:hover {
    background-color: var(--primary-color);
    color: #242424;
}
.subscribe .subscribe-contact li .subs-icon {
    font-size: 24px;
    background-color: #ffffff66;
    height: 50px;
    width: 50px;
    margin: 10px;
    transition: .2s;
}
.subscribe .subscribe-contact li .subs-icon:hover {
    transform: scale(1.2);
}
footer {
    padding: 170px 130px;
    background-color: var(--secondary-color);
    background-blend-mode: darken;
    background-image: url('../img/footer_map.png');
    color: var(--white);
    font-weight: var(--fw-300);
    font-size: var(--fs-18);
}

.footer .footer-contents p {
    padding: 50px 0;
    color: #ffffff80;
    font-size: var(--fs-14);
    padding: 10px 50px 10px 0;
}

.footer .footer-contact h2 {
    color: var(--primary-color);
}

.footer .footer-contact ul li:first-child,
.footer .footer-contact ul li:nth-child(2) {
    color: #ffffff80;
}

.footer .footer-contact ul li:first-child,
.footer .footer-contact ul li:nth-child(2) {
    color: #ffffff80;
}

.footer .footers h2 {
    font-size: 30px;
    font-weight: var(--fw-700);
    color: var(--primary-color);
    align-items: center;
}

.footer .footers ul li,
.footer .footer-contact ul li {
    list-style: none;
    padding: 5px 0;
}

.footer .footers ul li a {
    font-weight: var(--fw-700);
    color: var(--white-color);
}

.footer .footers ul li i,
.footer .footer-contact ul li i {
    font-weight: var(--fw-700);
    font-size: var(--fs-14);
    color: var(--primary-color);
}

.footer a:hover {
    color: var(--primary-color);
}

.footer a {
    color: var(--white-color);
}

/* footer end */